### EDA on Demographics Data
- city: city
- state: state
- median_age: median age of the city
- male_population: number of males in the city
- female_population: number of females in the city
- total_population: total number of population
- num_of_veterans: number of veterans in the city
- foreign_born: (immigrants) citizens who borned in other countries
- avg_house_size: average house size in the city
- state_code: US state code
- race: demographical metadata - race
- count: count
- city_state_code: a combined field, whihc is consist of city and US stat code

In [1]:
import os
import datetime
import pandas as pd
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_colwidth', 1028)
import configparser

import boto3

from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, DoubleType, StringType, IntegerType, DateType, LongType, MapType

In [2]:
# config = configparser.ConfigParser()
# config.read('/home/workspace/capstone.cfg')

['/home/workspace/capstone.cfg']

In [3]:
# os.environ["AWS_ACCESS_KEY_ID"] = config['AWS']['AWS_ACCESS_KEY_ID']
# os.environ["AWS_SECRET_ACCESS_KEY"] = config['AWS']['AWS_SECRET_ACCESS_KEY']
# input_data_dir = config['S3']['INPUT_S3_BUCKET']

In [4]:
# Init a SparkSession object
spark = SparkSession \
    .builder \
    .config('spark.jars.packages', 'org.apache.hadoop:hadoop-aws:2.7.0') \
    .getOrCreate()

In [5]:
us_cities_demographics =spark.read \
    .format('csv') \
    .options(header='true', inferSchema='true', encoding="ISO-8859-1", sep=';') \
    .load(f'{input_data_dir}/us-cities-demographics.csv')

In [6]:
# us_cities_demographics.limit(5).toPandas()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601,41862,82463,1562,30908,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129,49500,93629,4147,32935,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040,46799,84839,4819,8229,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127,87105,175232,5821,33878,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040,143873,281913,5829,86253,2.73,NJ,White,76402

In [7]:
# us_cities_demographics.filter(F.col('State') == 'New York').toPandas()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Yonkers,New York,38.0,96580,104538,201118,4801,61247,2.80,NY,Hispanic or Latino,73608
1,Buffalo,New York,33.1,124537,133529,258066,11231,24630,2.27,NY,Asian,14518
2,New Rochelle,New York,40.6,38871,40967,79838,2780,26960,2.85,NY,White,44435
3,Syracuse,New York,30.3,69462,74690,144152,5845,17733,2.39,NY,Asian,9386
4,Buffalo,New York,33.1,124537,133529,258066,11231,24630,2.27,NY,Hispanic or Latino,29656
5,Syracuse,New York,30.3,69462,74690,144152,5845,17733,2.39,NY,White,88679
6,Cheektowaga,New York,40.7,37476,38599,76075,5408,3532,2.30,NY,White,63541
7,Brentwood,New York,34.2,31395,32397,63792,1492,27058,4.98,NY,American Indian and Alaska Native,4242
8,Yonkers,New York,38.0,96580,104538,201118,4801,61247,2.80,NY,Black or African-American,38731
9,Mount Vernon,New York,38.5,31876,36745,68621,2064,23777,2.85,NY,American Indian and Alaska Native,356
10,Syracuse,New York,30.3,69462,74690,144152,5845,17733,2.39,NY,American Indian and Alaska Native,3606
11,Schenectady,New York,36.7,32398,32901,65299,3388,10961,2.82,NY,Asian,5140
12,Yonkers,New York,38.0,96580,104538,201118,4801,61247,2.80,NY,Asian,13981
13,Brentwood,New York,34.2,31395,32397,63792,1492,27058,4.98,NY,Hispanic or Latino,40111
14,Schenectady,New York,36.7,32398,32901,65299,3388,10961,2.82,NY,White,40278
15,Cheektowaga,New York,40.7,37476,38599,76075,5408,3532,2.30,NY,Asian,1584
16,Cheektowaga,New York,40.7,37476,38599,76075,5408,3532,2.30,NY,Hispanic or Latino,1994
17,Cheektowaga,New York,40.7,37476,38599,76075,5408,3532,2.30,NY,Black or African-American,10562
18,Schenectady,New York,36.7,32398,32901,65299,3388,10961,2.82,NY,American Indian and Alaska Native,1059
19,New Rochelle,New York,40.6,38871,40967,79838,2780,26960,2.85,NY,Hispanic or Latino,23548
20,Rochester,New York,31.4,100135,109673,209808,7288,17735,2.36,NY,Black or African-American,93072
21,Rochester,New York,31.4,100135,109673,209808,7288,17735,2.36,NY,Asian,8748
22,Buffalo,New York,33.1,124537,133529,258066,11231,24630,2.27,NY,Black or African-American,101254
23,Yonkers,New York,38.0,96580,104538,201118,4801,61247,2.80,NY,White,129492
24,Albany,New York,32.8,47627,50825,98452,3643,11948,2.08,NY,American Indian and Alaska Native,1611
25,Mount Vernon,New York,38.5,31876,36745,68621,2064,23777,2.85,NY,White,13106
26,Rochester,New York,31.4,100135,109673,209808,7288,17735,2.36,NY,Hispanic or Latino,38004
27,Brentwood,New York,34.2,31395,32397,63792,1492,27058,4.98,NY,White,46347
28,New Rochelle,New York,40.6,38871,40967,79838,2780,26960,2.85,NY,Asian,4218
29,Rochester,New York,31.4,100135,109673,209808,7288,17735,2.36,NY,White,105636
30,Schenectady,New York,36.7,32398,32901,65299,3388,10961,2.82,NY,Black or African-American,15640
31,Albany,New York,32.8,47627,50825,98452,3643,11948,2.08,NY,Hispanic or Latino,9368
32,New York,New York,36.0,4081698,4468707,8550405,156961,3212500,2.68,NY,White,3835726
33,Rochester,New York,31.4,100135,109673,209808,7288,17735,2.36,NY,American Indian and Alaska Native,4856
34,Schenectady,New York,36.7,32398,32901,65299,3388,10961,2.82,NY,Hispanic or Latino,5957
35,Mount Vernon,New York,38.5,31876,36745,68621,2064,23777,2.85,NY,Black or African-American,49830
36,New Rochelle,New York,40.6,38871,40967,79838,2780,26960,2.85,NY,American Indian and Alaska Native,645
37,Albany,New York,32.8,47627,50825,98452,3643,11948,2.08,NY,White,58368
38,Syracuse,New York,30.3,69462,74690,144152,5845,17733,2.39,NY,Black or African-American,46026
39,New York,New York,36.0,4081698,4468707,8550405,156961,3212500,2.68,NY,Asian,1304564
40,Albany,New York,32.8,47627,50825,98452,3643,11948,2.08,NY,Black or African-American,31303
41,Mount Vernon,New York,38.5,31876,36745,68621,2064,23777,2.85,NY,Asian,1497
42,New York,New York,36.0,4081698,4468707,8550405,156961,3212500,2.68,NY,American Indian and Alaska Native,90923
43,Yonkers,New York,38.0,96580,104538,201118,4801,61247,2.80,NY,American Indian and Alaska Native,1112
44,Albany,New York,32.8,47627,50825,98452,3643,11948,2.08,NY,Asian,8090
45,New York,New York,36.0,4081698,4468707,8550405,156961,3212500,2.68,NY,Hispanic or Latino,2485125
46,New York,New York,36.0,4081698,4468707,8550405,156961,3212500,2.68,NY,Black or African-American,2192248
47,Buffalo,New York,33.1,124537,133529,258066,11231,24630,2.27,NY,American Indian and Alaska Native,4406
48,Syracuse,New York,30.3,69462,74690,144152,5845,17733,2.39,NY,Hispanic or Latino,13368
49,Buffalo,New York,33.1,124537,133529,258066,11231,24630,2.27,NY,White,130078
50,Brentwood,New York,34.2,31395,32397,63792,1492,27058,4.98,NY,Black or African-American,8619
51,Brentwood,New York,34.2,31395,32397,63792,1492,27058,4.98,NY,Asian,1647
52,New Rochelle,New York,40.6,38871,40967,79838,2780,26960,2.85,NY,Black or African-American,17723
53,Mount Vernon,New York,38.5,31876,36745,68621,2064,23777,2.85,NY,Hispanic or Latino,9446

In [8]:
# us_cities_demographics.describe().toPandas()

,summary,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,count,2891,2891,2891,2888,2888,2891,2878,2878,2875,2891,2891,2891
1,mean,None,None,35.49488066413016,97328.42624653739,101769.63088642659,198966.77931511588,9367.832522585128,40653.598679638635,2.742542608695655,None,None,48963.77447250087
2,stddev,None,None,4.401616730099886,216299.93692873296,231564.57257148277,447555.9296335903,13211.21992386408,155749.1036650984,0.4332910878973046,None,None,144385.58856460615
3,min,Abilene,Alabama,22.9,29281,27348,63215,416,861,2.0,AK,American Indian and Alaska Native,98
4,max,Yuma,Wisconsin,70.5,4081698,4468707,8550405,156961,3212500,4.98,WI,White,3835726

In [9]:
# us_cities_demographics.sort(F.col('Foreign-born').desc()).limit(10).toPandas()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,New York,New York,36.0,4081698,4468707,8550405,156961,3212500,2.68,NY,American Indian and Alaska Native,90923
1,New York,New York,36.0,4081698,4468707,8550405,156961,3212500,2.68,NY,White,3835726
2,New York,New York,36.0,4081698,4468707,8550405,156961,3212500,2.68,NY,Hispanic or Latino,2485125
3,New York,New York,36.0,4081698,4468707,8550405,156961,3212500,2.68,NY,Asian,1304564
4,New York,New York,36.0,4081698,4468707,8550405,156961,3212500,2.68,NY,Black or African-American,2192248
5,Los Angeles,California,35.0,1958998,2012898,3971896,85417,1485425,2.86,CA,White,2177650
6,Los Angeles,California,35.0,1958998,2012898,3971896,85417,1485425,2.86,CA,Hispanic or Latino,1936732
7,Los Angeles,California,35.0,1958998,2012898,3971896,85417,1485425,2.86,CA,Asian,512999
8,Los Angeles,California,35.0,1958998,2012898,3971896,85417,1485425,2.86,CA,American Indian and Alaska Native,63758
9,Los Angeles,California,35.0,1958998,2012898,3971896,85417,1485425,2.86,CA,Black or African-American,404868

In [10]:
spark.stop()