In [1]:
import configparser
import psycopg2
import time
import sys

In [2]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

DWH_ENDPOINT, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD , DWH_PORT = [val.replace("'","") for val in config['CLUSTER'].values()]

In [3]:
%load_ext sql

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
%sql $conn_string

'Connected: dwhuser@dwh'

In [5]:
%sql SET search_path TO dwh;

 * postgresql://dwhuser:***@dwhcluster.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [6]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'dwh';

 * postgresql://dwhuser:***@dwhcluster.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('artists',),
 ('songplays',),
 ('songs',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

In [7]:
%sql SELECT COUNT(*) FROM users;

 * postgresql://dwhuser:***@dwhcluster.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [8]:
%sql SELECT COUNT(*) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [9]:
%sql SELECT COUNT(*) FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(322,)]

In [10]:
%sql SELECT COUNT(*) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [11]:
%sql SELECT COUNT(*) FROM time;

 * postgresql://dwhuser:***@dwhcluster.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6813,)]

In [12]:
%%sql
SELECT top 10 songs.title song_title, COUNT(songplay_id) played_freq
FROM songplays 
JOIN songs
ON songplays.song_id = songs.song_id
GROUP BY songs.title
ORDER BY COUNT(*) DESC

 * postgresql://dwhuser:***@dwhcluster.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[("You're The One", 37),
 ("I CAN'T GET STARTED", 9),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ("Hey Daddy (Daddy's Home)", 6),
 ("Let's Get It Started", 6),
 ('Make Her Say', 5),
 ('Up Up & Away', 5),
 ('Supermassive Black Hole (Album Version)', 4),
 ('Unwell (Album Version)', 4)]