## Test & Quality Checks

In [1]:
import pandas as pd
import json
import psycopg2
import configparser
import time
import sys
import os

In [2]:
config = configparser.ConfigParser()
config.read('capstone.cfg')

['capstone.cfg']

In [3]:
%load_ext sql

In [13]:
conn_string=f"postgresql://{config['REDSHIFT']['DB_USER']}:{config['REDSHIFT']['DB_PASSWORD']}@{config['REDSHIFT']['HOST']}:{config['REDSHIFT']['DB_PORT']}/{config['REDSHIFT']['DB_NAME']}" 
%sql $conn_string

In [12]:
%sql SET search_path TO cap;

First, let's check whether those four tables have been loaded into DB successfully - It's expected to see all those 4 tables are there.

In [6]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname='cap';

 * postgresql://awsuser:***@capstoneredshift.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/capstone
4 rows affected.

[('airport',), ('i94_immigration',), ('us_demographics',), ('us_temperature',)]

Then let's see if they have some legit metadata.

In [7]:
%sql SELECT "table", size, diststyle, sortkey1, tbl_rows FROM SVV_TABLE_INFO WHERE schema='cap';

 * postgresql://awsuser:***@capstoneredshift.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/capstone
4 rows affected.

[('us_temperature', 160, 'KEY(city_state_code)', 'month', Decimal('3084')),
 ('i94_immigration', 5255, 'KEY(i94port)', 'i94mon', Decimal('40790529')),
 ('us_demographics', 256, 'KEY(city_state_code)', 'foreign_born', Decimal('2891')),
 ('airport', 240, 'KEY(municipality_region)', 'type', Decimal('22757'))]

Next, let's some do more specific checks on tables

- Check whether `airport` table only contains US airport - this was the filter we applied in the `etl_data_prep.py` - because I defined the scope that only catch the US airport info.

In [8]:
%sql SELECT DISTINCT iso_country FROM airport;

 * postgresql://awsuser:***@capstoneredshift.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/capstone
1 rows affected.

[('US',)]

- Check whether `(city_state_code,month)` formed as the primary key for us_temperature

In [9]:
%%sql 
SELECT sum(Freq)=(SELECT count(*) FROM us_temperature)  
FROM (SELECT city_state_code, month, count(*) as Freq FROM us_temperature GROUP BY city_state_code, month) tmp;

 * postgresql://awsuser:***@capstoneredshift.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/capstone
1 rows affected.

[(True,)]

- Check whether there are NULL vlaues in `cicid` column of i94_immigration table

In [10]:
%%sql
SELECT COUNT(*)
FROM i94_immigration
WHERE cicid IS NULL

 * postgresql://awsuser:***@capstoneredshift.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/capstone
1 rows affected.

[(0,)]

- Run some OLAP queries to see if the data warehouse perform ok - the query below shows that for top 10 cities that handle the most of number of immigration cases, only `New York, NY` have 3 large airports, while `MIAMI, FL`, `LOSANGELES, CA`, `HONOLULU, HI` and `SAN FRANCISCO, CA` only has 1 large airport, respectively - would this affect the actual immigration activities process? Might be a question for end-users to figure out.

In [11]:
%%sql
SELECT i94port, num_immigration_cases, COUNT(airport_name)
FROM (SELECT top 10 i94port, COUNT(cicid) as num_immigration_cases
FROM i94_immigration
GROUP BY i94port
ORDER BY COUNT(cicid) DESC) tb
JOIN airport
ON i94port=municipality_region
WHERE type = 'large_airport'
GROUP BY i94port, num_immigration_cases 
ORDER BY num_immigration_cases DESC

 * postgresql://awsuser:***@capstoneredshift.crbxnw7y86qa.us-west-2.redshift.amazonaws.com:5439/capstone
8 rows affected.

[('NEW YORK, NY', 6678555, 3),
 ('MIAMI, FL', 5122889, 1),
 ('LOS ANGELES, CA', 4602847, 1),
 ('SAN FRANCISCO, CA', 2309621, 1),
 ('HONOLULU, HI', 2249967, 1),
 ('CHICAGO, IL', 1798697, 2),
 ('ORLANDO, FL', 1698944, 2),
 ('HOUSTON, TX', 1347272, 2)]